@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans/GeneralSans-Thin.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans/GeneralSans-ThinItalic.otf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans/GeneralSans-Extralight.otf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans/GeneralSans-ExtralightItalic.otf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans/GeneralSans-Light.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans/GeneralSans-LightItalic.otf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans/GeneralSans-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans/GeneralSans-Italic.otf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans/GeneralSans-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans/GeneralSans-MediumItalic.otf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans/GeneralSans-Semibold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans/GeneralSans-SemiboldItalic.otf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans/GeneralSans-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans/GeneralSans-BoldItalic.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
